In [2]:
#Tuple
tup1=(1,True,3.14,5-7J)

In [3]:
tup1

(1, True, 3.14, (5-7j))

In [5]:
tup1[2]

3.14

In [9]:
tup1[0:3]

(1, True, 3.14)

In [10]:
tup2=(1,2,3)
tup3=(4,5,6)

In [11]:
tup2,tup3

((1, 2, 3), (4, 5, 6))

In [12]:
tup2+tup3

(1, 2, 3, 4, 5, 6)

In [13]:
t1=('sparta',300)
t2=(7,8,9)

In [14]:
t1*2+t2

('sparta', 300, 'sparta', 300, 7, 8, 9)

In [17]:
n=(10,20,30,50,60)
min(n)
max(n)

60

In [16]:
max(n)

60

In [18]:
#list
l1=[1,2,3]
l2=['a','b','c']

In [19]:
l2*2

['a', 'b', 'c', 'a', 'b', 'c']

In [20]:
l2*2+l1

['a', 'b', 'c', 'a', 'b', 'c', 1, 2, 3]

In [21]:
d1={'apple':50,'mango':70,'orange':100}

In [22]:
d1

{'apple': 50, 'mango': 70, 'orange': 100}

In [23]:
d1.keys()

dict_keys(['apple', 'mango', 'orange'])

In [24]:
d1.type()

AttributeError: 'dict' object has no attribute 'type'

In [25]:
type(d1)

dict

In [26]:
d1.values()

dict_values([50, 70, 100])

In [27]:
fruit={'apple':10,'orange':20}
fruit1={'guava':30,'banana':40}

In [28]:
fruit.update(fruit1)

In [29]:
fruit

{'apple': 10, 'orange': 20, 'guava': 30, 'banana': 40}